//Colores del Header, Footer, DropDownHeader
$gradientColor: linear-gradient(to right, #edaa7c, #e9b97c);
$colorInGradient: white;
$letraTitulos: #838383;
$colorGeneralP: #191919;

//Tipografia desplegable servicios//
$typography: sans-serif;
$weight: 2px;
$size: 15px;
$blackcolor: black;

//Tipografia Titulos Footer//
$typography: sans-serif;
$weightFM: 6px;
$sizeFM: 20px;
$whitecolor: #191919;